<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WorkspaceManagerModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WorkspaceManagerModel.Properties.Settings>
            <setting name="AsymmetricColor" serializeAs="String">
                <value>103, 137, 162</value>
            </setting>
            <setting name="ClassicColor" serializeAs="String">
                <value>184, 200, 129</value>
            </setting>
            <setting name="SymmetricColor" serializeAs="String">
                <value>212, 144, 144</value>
            </setting>
            <setting name="ToolsColor" serializeAs="String">
                <value>138, 188, 148</value>
            </setting>
            <setting name="HashColor" serializeAs="String">
                <value>138, 187, 188</value>
            </setting>
            <setting name="AnalysisGenericColor" serializeAs="String">
                <value>140, 138, 188</value>
            </setting>
            <setting name="AnalysisSpecificColor" serializeAs="String">
                <value>188, 138, 172</value>
            </setting>
            <setting name="IntegerColor" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="ByteColor" serializeAs="String">
                <value>ForestGreen</value>
            </setting>
            <setting name="DoubleColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="BoolColor" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="StreamColor" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="StringColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="ObjectColor" serializeAs="String">
                <value>MediumPurple</value>
            </setting>
            <setting name="DefaultColor" serializeAs="String">
                <value>163, 208, 144</value>
            </setting>
            <setting name="BigIntegerColor" serializeAs="String">
                <value>DarkTurquoise</value>
            </setting>
            <setting name="SteganographyColor" serializeAs="String">
                <value>YellowGreen</value>
            </setting>
            <setting name="ProtocolColor" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
        </WorkspaceManagerModel.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
