<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings">
      <section name="CrypTool.CrypWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CrypTool.CrypWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <userSettings>
    <CrypTool.CrypWin.Properties.Settings>
      <setting name="defaultEditor" serializeAs="String">
        <value>WorkspaceManager.WorkspaceManagerClass</value>
      </setting>
      <setting name="RelHeight" serializeAs="String">
        <value>0.9</value>
      </setting>
      <setting name="RelWidth" serializeAs="String">
        <value>0.9</value>
      </setting>
      <setting name="IsWindowMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ReopenLastTabs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="logWindowAutoHide" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DemoInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="UpdateFlag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowRibbonBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowAlgorithmsNavigation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowAlgorithmsSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FixedWorkspace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowBalloonLogMessagesInBalloon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowErrorLogMessagesInBalloon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoDownload" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoInstall" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckPeriodically" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckInterval" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Culture" serializeAs="String">
        <value />
      </setting>
      <setting name="StopWorkspaces" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunInBackground" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowInfoLogMessagesInBalloon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowWarningLogMessagesInBalloon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowDebugLogMessagesInBalloon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BallonVisibility_ms" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="LogVisibility" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="SettingVisibility" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="PluginVisibility" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="useDefaultEditor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="preferredEditor" serializeAs="String">
        <value>WorkspaceManager.WorkspaceManagerClass</value>
      </setting>
      <setting name="useLastPath" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SamplesDir" serializeAs="String">
        <value>Templates</value>
      </setting>
      <setting name="WriteLogFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ShowStatusBar" serializeAs="String">
        <value>False</value>
      </setting>
    </CrypTool.CrypWin.Properties.Settings>
  </userSettings>

  <!-- Load assemblies from given subdir -->
  <runtime>
    <!-- Use this switch to make BinaryFormatter fast with large object graphs starting with .NET 4.7.2 -->
    <AppContextSwitchOverrides value="Switch.System.Runtime.Serialization.UseNewMaxArraySize=true"/>
    <loadFromRemoteSources enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Lib;LibP2P;CrypPlugins"/>
    </assemblyBinding>
    <enforceFIPSPolicy enabled="false"/>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <applicationSettings>
    <CrypTool.CrypWin.Properties.Settings>
      <setting name="SingletonApplication" serializeAs="String">
        <value>True</value>
      </setting>
    </CrypTool.CrypWin.Properties.Settings>
  </applicationSettings>
</configuration>
