<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.3.0.90" targetFramework="net472" />
  <package id="HtmlTextBlock" version="1.0.1" targetFramework="net472" />
  <package id="Markdig" version="0.44.0" targetFramework="net472" />
  <package id="Markdig.Wpf" version="0.5.0.1" targetFramework="net472" />
  <package id="MdXaml" version="1.27.0" targetFramework="net472" />
  <package id="MdXaml.Plugins" version="1.27.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.6" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="10.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="10.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="10.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="10.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="10.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net472" />
</packages>
