<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="CrypTool.CertificateServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <applicationSettings>
        <CrypTool.CertificateServer.Properties.Settings>
            <setting name="DEFAULT_ALLOWED_CLIENTS" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DEFAULT_AUTH_REQUIRED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DEFAULT_CA_MONTH_EXPIRE" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="DEFAULT_CA_RSA_STRENGTH" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="DEFAULT_EMAIL_VERIFICATION_ENABLED" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DEFAULT_DB_HOST" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DEFAULT_DB_NAME" serializeAs="String">
                <value>certificates</value>
            </setting>
            <setting name="DEFAULT_DB_PASSWORD" serializeAs="String">
                <value>paporator</value>
            </setting>
            <setting name="DEFAULT_DB_PORT" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="DEFAULT_DB_USER" serializeAs="String">
                <value>paporator</value>
            </setting>
            <setting name="DEFAULT_PCP_LISTEN_ADDRESS" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DEFAULT_PCP_LISTEN_PORT_1" serializeAs="String">
                <value>4457</value>
            </setting>
            <setting name="DEFAULT_PEER_MONTH_EXPIRE" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="DEFAULT_PEER_RSA_STRENGTH" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="DEFAULT_SMTP_SERVER_ADDRESS" serializeAs="String">
                <value>mailout.uni-duisburg-essen.de</value>
            </setting>
            <setting name="DEFAULT_SMTP_SERVER_PORT" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="DEFAULT_EMAIL_REGISTER_INFO_ADDRESS" serializeAs="String">
                <value>pap-register@vs.uni-due.de</value>
            </setting>
            <setting name="DEFAULT_EMAIL_SENDER" serializeAs="String">
                <value>pap-admin@vs.uni-due.de</value>
            </setting>
            <setting name="DEFAULT_EMAIL_REGISTRATION_SUBJECT" serializeAs="String">
                <value>[peers@play Administration] A new certificate for user {AVATAR} has been requested</value>
            </setting>
            <setting name="DEFAULT_EMAIL_REGISTRATION_BODY" serializeAs="String">
                <value>Dear {AVATAR},\nyou have requested a new account for the peers@play peer-to-peer network with the following data:\n\nUsername: {AVATAR}\nEmail: {EMAIL}\nTo activate your account, you will have to copy the verification code and paste it into the appropriate formular in your peers@play application.\nPlease be sure to activate your account within the next {DAYS_TILL_EXPIRATION} days, otherwise your request will expire.\n\nYour verification code is: {CODE}
\n\nYours peers@play team
</value>
            </setting>
            <setting name="DEFAULT_EMAIL_REGISTRATION_INFO_BODY" serializeAs="String">
                <value>A new Peers@Play certificate has been registered.
\n\nUsername {AVATAR}\nEmail: {EMAIL}\nWorld: {WORLD}\n
Program Name: {PROGRAM_NAME} ({PROGRAM_VERSION})
</value>
            </setting>
            <setting name="DEFAULT_EMAIL_REGISTRATION_INFO_SUBJECT" serializeAs="String">
                <value>[peers@play Administration] A new certificate for user {AVATAR} has been registered</value>
            </setting>
            <setting name="DEFAULT_CLIENT_TIMEOUT" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DEFAULT_DB_TIMEOUT" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DEFAULT_EMAIL_REGISTER_SEND_INFO" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DEFAULT_EMAIL_PASSWORD_RESET_SUBJECT" serializeAs="String">
                <value>[peers@play Administration] A password reset for user {AVATAR} has been requested</value>
            </setting>
            <setting name="DEFAULT_EMAIL_PASSWORD_RESET_BODY" serializeAs="String">
                <value>Dear {AVATAR},\nyou have requested to reset the password for your peers@play account. You will have to copy this verification code and paste it into the appropriate formular in your peers@play application.\nPlease be sure to reset your password within the next {DAYS_TILL_EXPIRATION} days, otherwise your request will expire.\n\nYour verification code is: {CODE}\n\nYours peers@play team
</value>
            </setting>
            <setting name="DEFAULT_REGISTRATION_EXPIRE_IN_DAYS" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="DEFAULT_PASSWORD_RESET_EXPIRE_IN_DAYS" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="DEFAULT_HTTPS_LISTEN_NAME" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DEFAULT_HTTPS_LISTEN_PORT" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="DEFAULT_PCP_LISTEN_PORT_2" serializeAs="String">
                <value>443</value>
            </setting>
            <setting name="DEFAULT_EMAIL_REQUEST_INFO_BODY" serializeAs="String">
                <value>A new Peers@Play certificate has been requested.
\n\nUsername: {AVATAR}\nEmail: {EMAIL}\nWorld: {WORLD}\n
Program Name: {PROGRAM_NAME} ({PROGRAM_VERSION})
</value>
            </setting>
            <setting name="DEFAULT_EMAIL_REQUEST_INFO_SUBJECT" serializeAs="String">
                <value>[peers@play Administration] A new certificate for user {AVATAR} has been requested</value>
            </setting>
            <setting name="DEFAULT_EMAIL_REQUEST_INFO_ADDRESS" serializeAs="String">
                <value>pap-register@vs.uni-due.de</value>
            </setting>
            <setting name="DEFAULT_EMAIL_REQUEST_SEND_INFO" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DEFAULT_SMTP_ANTI_SPAM_TIME_IN_MIN" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DEFAULT_EMAIL_AUTHORIZATION_SUBJECT" serializeAs="String">
                <value>Dear {AVATAR},\nyour registration request  has been authorized. You are now allowed to participate to the peers@play peer-to-peer network. Your registration data is:\n\nUsername: {AVATAR}\nEmail: {EMAIL}\n\nEnjoy your stay,\n\nYours peers@play team
</value>
            </setting>
            <setting name="DEFAULT_EMAIL_AUTHORIZATION_BODY" serializeAs="String">
                <value>[peers@play Administration] Registration for user {AVATAR} has been authorized</value>
            </setting>
        </CrypTool.CertificateServer.Properties.Settings>
    </applicationSettings>
</configuration>
