<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WellKnownPeer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <WellKnownPeer.Properties.Settings>
            <setting name="RootCertificate" serializeAs="String">
                <value>RootCertificate.crt</value>
            </setting>
            <setting name="OwnKey" serializeAs="String">
                <value>anonymous.p12</value>
            </setting>
            <setting name="OwnPassword" serializeAs="String">
                <value>anonymous</value>
            </setting>
            <setting name="WellKnownPeers" serializeAs="String">
                <value />
            </setting>
            <setting name="Administrators" serializeAs="String">
                <value>kopal;niko</value>
            </setting>
            <setting name="BannedCertificates" serializeAs="String">
                <value />
            </setting>
        </WellKnownPeer.Properties.Settings>
    </userSettings>
</configuration>
