<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CrypTool.Plugins.DECRYPTTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CrypTool.Plugins.DECRYPTTools.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>anonymous</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordIV" serializeAs="String">
                <value />
            </setting>
            <setting name="TagElementColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="NullElementColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="RegularElementColor" serializeAs="String">
                <value>DarkBlue</value>
            </setting>
            <setting name="NomenclatureElementColor" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="CommentColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </CrypTool.Plugins.DECRYPTTools.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
