<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="CrypTool.CertificateClientSimpleGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <CrypTool.CertificateClientSimpleGUI.Properties.Settings>
            <setting name="SERVER" serializeAs="String">
                <value>cloud.cryptool.org</value>
            </setting>
            <setting name="PORT" serializeAs="String">
                <value>10443</value>
            </setting>
        </CrypTool.CertificateClientSimpleGUI.Properties.Settings>
    </userSettings>
</configuration>
