<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CrypTool.PluginBase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CrypTool.PluginBase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CrypTool.PluginBase.Properties.Settings>
            <setting name="KeySearcher_Anonymize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeySearcher_EnableHighLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeySearcher_KeyPoolTreeZoom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KeySearcher_MachNameChars" serializeAs="String">
                <value>0</value>
            </setting>           
            <setting name="WorkspaceManager_EditScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WorkspaceManager_FullscreenScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WorkspaceManager_GuiUpdateInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WorkspaceManager_SleepTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WorkspaceManager_BenchmarkPlugins" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkspaceManager_SynchronousEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WorkspaceManager_LogLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WorkspaceManager_MaxScale" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WorkspaceManager_MinScale" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="WorkspaceManager_SortPadding" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="WorkspaceManager_SortWidth" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="WorkspaceManager_SortHeight" serializeAs="String">
                <value>1600</value>
            </setting>
            <setting name="Wizard_RunTemplate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Wizard_ShowAnimations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkspaceManager_ShowComponentConnectionProposition"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WorkspaceManager_ComponentAppearance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WorkspaceManager_ShowComponentConnection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WorkspaceManager_BlingDelay" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WorkspaceManager_ToggleFullscreenPluginList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CrypVideoTutorials_URL" serializeAs="String">
                <value>http://www.CrypTool.org/ct2download/Tutorials/videos.xml</value>
            </setting>
            <setting name="CrypVideoTutorials_CatURL" serializeAs="String">
                <value>http://www.CrypTool.org/ct2download/Tutorials/cat.xml</value>
            </setting>
            <setting name="WorkspaceManager_UseGlobalProgressbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BB84_AnimationSpeed" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="WorkspaceManager_TemplateReplacement" serializeAs="String">
                <value>True</value>
            </setting>
        </CrypTool.PluginBase.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CrypTool.PluginBase.Properties.Settings>
            <setting name="WorkspaceManager_GridScale" serializeAs="String">
                <value>6</value>
            </setting>
        </CrypTool.PluginBase.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
