<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StandaloneKeySearcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <StandaloneKeySearcher.Properties.Settings>
            <setting name="Workers" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="JobID" serializeAs="String">
                <value>24BF39E8E89548BE70EB0D74A9CFAD02</value>
            </setting>
        </StandaloneKeySearcher.Properties.Settings>
    </userSettings>
</configuration>